@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");

body
{
	background: #0080D1;
	color: #ffffff;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: 300;
	letter-spacing: 0.025em;
	line-height: 1.65;
}

a
{
	color: inherit;
	text-decoration: none;
}

a:hover
{
	border-bottom-color: transparent;
	color: #000000 !important;
}

h1, h2, h3
{
	color: #ffffff;
	font-weight: 300;
	line-height: 1.65;
	margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a
{
	color: inherit;
	border-bottom: 0;
}

h1
{
	font-size: 2.5em;
}

h2
{
	font-size: 1.75em;
}

h3
{
	font-size: 1.35em;
}

header
{
	width: max-content;
	margin-bottom: 2em;
}

header.content
{
	content: '';
	background-color: #ffffff;
	display: block;
	height: 2px;
	margin: 0.325em 0 0.5em 0;
	width: 100%;
}

.tiles
{
	display: flex;
	flex-wrap: wrap;
	border-top: 0 !important;
}

.tiles article
{
	align-items: center;
	display: flex;
	padding: 4em 4em 2em 4em ;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: default;
	height: 40vh;
	max-height: 40em;
	min-height: 23em;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.tiles article h3
{
	font-size: 1.75em;
}

/* Header */

#header
{
	display: flex;
	box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.15);
	cursor: default;
	font-weight: 600;
	height: 3.25em;
	letter-spacing: 0.25em;
	line-height: 3.25em;
	margin: 0;
	position: fixed;
	text-transform: uppercase;
	top: 0;
	width: 100%;
	z-index: 10000;
	left: 0;
}

#header .logo strong
{
	background-color: #ffffff;
	color: #0080D1;
	display: inline-block;
	line-height: 1.65em;
	margin-right: 0.325em;
	padding: 0 0.125em 0 0.375em;
}

#header .sign ul
{
	float: right;
	position: absolute;
	background-color: #ffffff;
	color: #0080D1;
	right: 0;
	display: flex;
	padding: 0 0.125em 0 0.375em;
	top: -3.5px;
	line-height: 1.67em;
}

#header .sign ul li
{
	list-style: none;
}

#header.alt
{
	background-color: #0080D1;
}

/* Banner */

#banner
{
	align-items: center;
	display: flex;
	padding: 6em 0 2em 0 ;
	height: 60vh;
	max-height: 32em;
	min-height: 22em;
	cursor: normal;
}

.icone
{
	position: absolute;
	left: 50%;
	height : 100%;
	width: auto;
}
